body{
    background-image: url(images/new-years-day-traditions-768x512.jpg);
    background-size: cover;

}

div{
    color: rgb(251, 251, 202);
    font-size: 35px;
    
}

*{
    font-family: "zen dots";
}
